@model ForgotPasswordViewModel

<form asp-action="ForgotPassword" method="post">
	<div class="text-danger" asp-validation-summary="All"></div>
    <label>Email:</label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <button type="submit">Şifre sıfırlama e-postası gönder</button>
</form>
