@model ResetPasswordViewModel

<form asp-action="ResetPassword" method="post">
	<div class="text-danger" asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <label>Yeni Şifre</label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <label>Yeni Şifre (Tekrar)</label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword"></span>

    <button type="submit">Şifreyi Sıfırla</button>
</form>
